nav {
    background-color: #424446;
    color: #C3C5C7;
    padding: 0;
    font-family: Courier, sans-serif;
    font-weight: 500;
    display: flex;

}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}


li {
    margin-right: 20px;
    vertical-align: middle;
}


a {
    text-decoration: none;
    color: #C3C5C7;
    text-align: center;
    background-color: transparent;
    padding: 10px 20px;
    width: fit-content;
    height: 45px;
    transition: color 0.3s;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
}


a:hover {
    background-color: #C3C5C7;
    color: #424446;
    height: 40px;
}



li:first-child {
    margin-left: 20px;
}


.active {
    color: #cb952b;
}


.nav-image {
    width: auto;
    height: 25px;
    object-fit: cover;

}